body {
    font-family: Inter, sans-serif;
    color: #fff;
    background: #2b2b2b;
}

/*strategy-result*/

#strategy-result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 80%;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;

    background: #303030;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .05);

    z-index: 1000;
}

#strategy-result.show {
    display: flex;
}

#strategy-indicator {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#try-again-btn {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

    color: #303030;
    padding: 10px 15px;

    border: none;
    border-radius: 5px;

    background: #fff;

    cursor: pointer;

    transition: background-color 100ms ease-in;
}

#try-again-btn:hover {
    background: #95f6ad;
}

/*strategy-menu*/

#strategy-menu {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 80%;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;

    background: #303030;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .05);

    z-index: 1000;

    transition: all 500ms ease-in-out;
}

#strategy-menu.show {
    display: flex;
}

#close-guess-btn {
    position: absolute;
    top: 0;
    right: 0;

    background: none;
    border: none;

    cursor: pointer;
}

/*strategy*/

.strategy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

.strategy .circle {
    width: 50px;
    height: 50px;

    border: 3px solid #fff;
    border-radius: 50%;
}

.strategy span {
    font-size: 15px;
}

/*main*/

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    padding: 100px;
}

/*game*/

.game {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    position: relative;
}

#guess-msg {
    text-align: center;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

#guess-msg.show {
    opacity: 1;
}

/*scores*/

.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 0 50px;
}

.scores span {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.scores .circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75px;
    height: 75px;

    border-radius: 50%;
}

.circle-player {
    background-color: #95d9f6;
}

.circle-bot {
    background-color: #f4adb3;
}

/*board*/

#board {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;

    margin-top: 50px;

    position: relative;
}

#board span {
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
}

#player-label {
    top: 50%;
    left: -50px;
    transform: translate(-50%, -50%);
}

#bot-label {
    top: -50px;
    right: 50%;
    transform: translate(50%, 50%);
}

#board svg {
    width: 15px;
    height: 15px;
    position: absolute;
}

#player-cooperate-svg {
    top: 25px;
    left: -25px;
}

#player-defect-svg {
    bottom: 25px;
    left: -25px;
}

#bot-cooperate-svg {
    top: -25px;
    left: 25px;
}

#bot-defect-svg {
    top: -25px;
    right: 25px;
}

/*field*/

.field {
    width: 75px;
    height: 75px;

    position: relative;
}

.field:nth-of-type(1) {
    border-top-left-radius: 10px;
}

.field:nth-of-type(2) {
    border-top-right-radius: 10px;
}

.field:nth-of-type(3) {
    border-bottom-left-radius: 10px;
}

.field:nth-of-type(4) {
    border-bottom-right-radius: 10px;
}

.field-light {
    background-color: #EEE7C2;
}

.field-dark {
    background-color: #9081E9;
}

.field span:nth-child(1) {
    top: 5px;
    left: 5px;
}

.field span:nth-child(2) {
    bottom: 5px;
    right: 5px;
}

/*controls*/

.controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.controls .wrapper {
    display: flex;
    justify-content: space-between;
}

/*interact-btn*/

.interact-btn {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 15px;

    border: none;
    border-radius: 5px;

    background: #fff;

    cursor: pointer;

    transition: background-color 100ms ease-in;
}

.interact-btn:hover {
    background: #95d9f6;
}

.interact-btn svg {
    width: 15px;
    height: 15px;
    fill: #303030;
}

/*guess-btn*/

#guess-btn {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

    color: #303030;
    padding: 10px 15px;

    border: none;
    border-radius: 5px;

    background: #fff;

    cursor: pointer;

    transition: background-color 100ms ease-in;
}

#guess-btn:hover {
    background: #95f6ad;
}

/*tutorial*/

.tutorial {
    flex: 1;
    line-height: 150%;
    padding: 20px;
    
    border-radius: 5px;
    background: #303030;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .05);
}

.bold {
    font-weight: 700;
  }
@media screen and (max-width: 1000px) {
    .main {
        padding: 50px;
    }
}

@media screen and (max-width: 800px) {
    .main {
        flex-direction: column;
        gap: 50px;
    }
}
